@font-face {
  font-family: 'Aquino';
  //noinspection CssInvalidPropertyValue,CssUnknownTarget
  src: url('~assets/fonts/AquinoDemo-511lj.f5610d09.ttf')  format('truetype'),
}

@font-face {
  font-family: 'FredokaOne';
  //noinspection CssInvalidPropertyValue,CssUnknownTarget
  src: url('~assets/fonts/FredokaOne-Regular.ttf') format('truetype'),
}